.mortgage {
    position: relative;
    top:100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    margin:0 auto;
    background-color: goldenrod;
    width: 35vw;
    height: 70vh;
    border-radius: 16px;

}
.project_name{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    color:white;
    margin-bottom: 40px;
    background: linear-gradient(to right, red, orange, yellow, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */
.inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

input[type="range"] {
    width: 100%;

}
input {
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 5px;
}
label {
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
span{
    margin-left: 10px;
}
p{
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bolder;   
}
.output{
    display: flex;
    justify-content: space-between;
    align-items: center;
}